# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\INTELLIJ_PROJECT\foxmall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
